<a href="https://colab.research.google.com/github/AlinaMidhath/PYTHON-DA-ML/blob/main/alina_day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SETS**

In [ ]:
myset = {"hello", "alina", 3.0, True, }#it considers 1 and True as the saame thing
print(myset)#unorderd
l1 = [1, 1, 1, 2, 1, 2, 2, 3, 3, 4]
l2 = set(l1)
l3 = list(l2)
print(l2)#set
print(l3)#list
print(len(myset))

{'alina', 'hello', 3.0, True}
{1, 2, 3, 4}
[1, 2, 3, 4]
4

In [ ]:
#adding elements to the set
myset.add(10)
print(myset)

s1={1, 2, 3, 4}
s2={4, 5, 6, 7}
l=[8, 9, 10]
t=(11, 12, 13, 14)
s1.update(s2)
print(s1)
s1.update(l)# can also add /update a list
print(s1)
s1.update(t)# can also add /update a tuple
print(s1)

{True, 'alina', 3.0, 10, 'hello'}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [ ]:
#deleting
myset = {True, 'alina', 3.0, 10, 'hello'}
myset.remove(10) #removes 10
print(myset)
myset.discard("hello")#removes hello
print(myset)
myset.pop() ##removes any random element
print(myset)
s1={1, 2, 3, 4}
s2={4, 5, 6, 7}
s1.clear() #clears all the set elements
print(s1)
del(s2) #deletes the set only

{True, 'alina', 3.0, 'hello'}
{True, 'alina', 3.0}
{'alina', 3.0}
set()

In [ ]:
#LOOP
s1={1, 2, 3, 4}
for x in s1:
  print(x)

1
2
3
4

In [ ]:
#join two loops
s1={1, 2, 3, 4}
s2={4, 5, 6, 7}
s3 = s1.union(s2)
print(s3)
#can also use "update" funtion

{1, 2, 3, 4, 5, 6, 7}

**DICTIONARY**

In [ ]:
#dictionary can store value of any type inc string list
mydict = {          #creating
    "math" : 20,
    "chem" : 25,
    "phy"  : 30,
    "comp" : 35
}
print(mydict)
print(mydict["chem"]) #access
x = mydict.get("math")
print(x)
print(len(mydict))
print(mydict.keys())
mydict["comp"]= 40   #modify
print(mydict)
newdict = dict(color="blue", tip=0.5, cost=   5)    #creating  using dict constructor
print(newdict)

{'math': 20, 'chem': 25, 'phy': 30, 'comp': 35}
25
20
4
dict_keys(['math', 'chem', 'phy', 'comp'])
{'math': 20, 'chem': 25, 'phy': 30, 'comp': 40}
{'color': 'blue', 'tip': 0.5, 'cost': 5}

In [ ]:
newdict["type"] = "ballpoint" # adding a new key and value
x= newdict.keys()
y= newdict.values()
print(x)
print(y)
print(newdict)
newdict["cost"] = 10 #update
print(newdict)
newdict.update({"cost" : 20}) #update
print(newdict)

dict_keys(['color', 'tip', 'cost', 'type'])
dict_values(['blue', 0.5, 20, 'ballpoint'])
{'color': 'blue', 'tip': 0.5, 'cost': 20, 'type': 'ballpoint'}
{'color': 'blue', 'tip': 0.5, 'cost': 10, 'type': 'ballpoint'}
{'color': 'blue', 'tip': 0.5, 'cost': 20, 'type': 'ballpoint'}

In [ ]:
#deleting
newdict={
    "color": "blue",
    "tip"  : 0.5,
    "cost" : 20,
    "type" : "ballpoint"}
newdict.pop ("color") #deletes the value of color
print(newdict)
del newdict["tip"] #deletes the value of color
print(newdict)
newdict.popitem() #removes the last or any random item / value
print(newdict)
newdict.clear()
print(newdict)
del newdict

{'tip': 0.5, 'cost': 20, 'type': 'ballpoint'}
{'cost': 20, 'type': 'ballpoint'}
{'cost': 20}
{}

**CONDITIONAL STATEMENTS**

In [ ]:
age = int(input("enter your age : "))
if age < 18:
 print("you are not eligible to vote")
elif age> 18:
 print(" you are eligible to vote")
else:
 print("wrong value entered")

enter your age : 20
 you are eligible to vote

In [ ]:
a = 5
b = 15
if a < b : print("b is greater tha a")

b is greater tha a

In [ ]:
c = input("enter the first no. ")
d = input("enter the second no. ")
print(c + d)# concatinates as the it takes the default input value of string type
if c > d :
  print( "c is greater")
else:
  print("d is greater")

enter the first no. 25
enter the second no. 26
2526
d is greater

In [ ]:
e= int(input("enter the value of e "))
f= int(input("enter the value of f "))
g= e+f
print(g)

enter the value of e 25
enter the value of f 125
150

In [ ]:
l=4
k=5
if(k>l): print("k is greatest")

m=2
n= 4
print("=") if m==n else print("!=")# used only when 2 conditions to be checked short hand notation

k is greatest
!=

In [ ]:
a = 24
b = 35
c = 46
if a<b and b<c:
  print("c is greatest")

if a<b or c<b:
   print("b might be the greatest")

c is greatest
b might be the greatest

**LOOPS**

In [ ]:
i = 1
while(i < 10):
  print(i)
  i += 1# if we dont increament then it will run an infinite loop

1
2
3
4
5
6
7
8
9

In [ ]:
i = 1
while (i <= 10):
  print(i)
  if i == 4:
   break
  i += 1

1
2
3
4

In [ ]:
i = 0
while(i< 10):
  i += 1
  if i==4:
   continue# all the stmnts below continue are skipped for once(basically it is skipped the no. of times the if cond is true)

  print(i)

1
2
3
5
6
7
8
9
10

In [ ]:
i = 0
while(i<10):
  print(i)
  i += 1
else:
  print("i is no longer less than 10")

0
1
2
3
4
5
6
7
8
9
i is no longer less than 10

In [ ]:
mylist =["mango", "apple", "orange", "watermelon", "banana"]
for x in mylist: # 'in' and 'not in' are membership operatorss
  print(x)
print("mango" not in mylist)#membership operators returns boolean value
print("apple" in mylist)

mango
apple
orange
watermelon
banana
False
True

In [ ]:
for i in range(10): # for can work only with "in" operator
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for al in range(1,11):
  print(al)

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
mylist = [2, 11, 15.0, "alina", True, False, ]
for x in mylist:
  print(x)
  if(x== "alina"):
    break
  #print(x) alina will not get printed

2
11
15.0
alina

In [ ]:
#nested
for i in range(1,3):
  for j in range(1,11):
    print(i, j)

In [ ]:
adj = ["fresh", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)