<a href="https://colab.research.google.com/github/AlinaMidhath/PYTHON-DA-ML/blob/main/alina_day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FUNCTIONS**

PARAMETERS AND ARGUEMENTS

A parameter is the variable listed inside() in function definition
an arguement is a value that is sent to the funtion when it is called

In [ ]:
def func():# function definition
  print("hello")
func() #function call

hello

In [ ]:
def func_1(arg):
  print(arg + "day 4")
func_1("hi its ")#passing arguement
#func_1(3) cant use this since + cant concatinate string and int

hi its day 4

In [ ]:
def func_2(a,b):
  print(a +b)
  #print(a + " " + b)#for this we need to pass only str in the function call because of ""
func_2(4 , 5)
func_2("hello", "hi")
func_2([1, 2, 3] , [4, 5, 6])
#func_2({1, 2, 3}, {4, 5, 6})
func_2((1, 2, 3), (4, 5, 6))

9
hellohi
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [ ]:
def func_3(*height): #to take any no of arguements
  print("the first height is: " + str(height[0]))
  print("the last height is: " + str(height[-1]))

func_3(12,13,14,15)

the first height is: 12
the last height is: 15

In [ ]:
def func_4(name , grade, section):
  print(name + " " + str(grade) + " " + section)

func_4("alina", 3 , "A")
func_4(name = "alina", section = "A ", grade =  3)

alina 3 A
alina 3 A

In [ ]:
def func_5(name = "alina"):
  print("hi my name is " +name)

func_5()
func_5("midhath")

hi my name is alina
hi my name is midhath

In [ ]:
def func_6(a):  #passing string as arguement
  for x in a:
    print(x)
  print(a)

my_list=[2, 3, 4,]
func_6(my_list)

2
3
4
[2, 3, 4]

In [ ]:
def func_7(a):#function to print the square
  print(a*a)
  # return a ** 2


func_7(2)
num =int(input("enter the no. you want the square of: "))
func_7(num)
#print(func_7(3))

4
enter the no. you want the square of: 44
1936

In [ ]:

def mult(n):
  for i in range(1,11):
    print(n, "x", i ,"=", n*i) #instead of type casting we are using ,
mult(9)

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
def evenodd(n):
  # if (n % 2 == 0):
  #   print("even")
  # else:
  #   print("odd")
  print("even") if (n % 2 == 0) else print("odd") # short hand notation
evenodd(10)

even

**LAMBDA FUNCTIONS**

In [ ]:
x = lambda a : a+5
print(x(5))

10

In [ ]:
x = lambda a,b : a + b
print(x(2,3))

5

In [ ]:
x = lambda a,b : a * b
print(x(2,3))

6

In [ ]:
def my_funct(n):
  return lambda a : a - n
mult = my_funct(3)
print(mult(100))

97

In [ ]:
def newdiv(n):
  return lambda x : x/n
div = newdiv(2)
print(div(10))

5.0

In [ ]:
def sqr():
  return lambda x : x*x
pow = sqr()
print(pow(3))

9

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

**REGEX - REGULAR EXPRESSIONS**

A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.

RegEx can be used to check if a string contains the specified search pattern.

Python has a built-in package called re, which can be used to work with Regular Expressions.

Import the re module:

FINDALL  FUNCTION -Returns a list containing all matches

METACHARACTERA are the characters with special meaning

In [ ]:
import re
text = "there are 9 mangoes in all"
x = re.findall("\d ", text)
print (x)

['9 ']

In [ ]:
x = re.findall("^t" , text)
if x:
  print("Yes the string starts with t")
else:
  print("no")

Yes the string starts with t

In [ ]:
x = re.findall("m.....s", text)# to find dot no of(here 4) characters b/n m and s
print(x)

['mangoes']

In [ ]:
x = re.findall("mang.*s",text)# to find 0 or more characters b/n m and s
print(x)

['mangoes']

In [ ]:
x = re.findall("m.+s",text)# to find one or more characters b/n m and s
print(x)

['mangoes']

In [ ]:
x = re.findall("apples|mangoes", text) # checks if it contains either apples or mangoes
if x:
  print("either of them is present")
else:
  print("no match found")

either of them is present

In [ ]:
x = re. findall ("\Athe" , text)
if x:
  print("true")
else:
  print("false")

true

In [ ]:
x = re.findall("\bere" , text) #Check if "ere" is present at the beginning of a WORD:
if x:
  print("true")
else:
  print("false")

false

In [ ]:
x = re.findall(h"ere\b" , text) #Check if "ere" is present at the end of a WORD:
if x:
  print("true")#DOUBTTT
else:
  print("false")

In [ ]:
x = re.findall("\d" ,text)
print(x)
if x:
  print("true")
else:
  print("false")

['9']
true

In [ ]:
x = re.findall("[0-5][0-9]" , text)# checks two digit nos from 00 to 59
print(x)

[]

SEARCH FUNCTION

The search() function searches the string for a match, and returns a Match object if there is a match.

If there is more than one match, only the first occurrence of the match will be returned:

In [ ]:
txt = "There are 9 or 49 apples here"
y = re.search("\s" , txt)
print(y)
print("the first space is found at:",y.start())

<re.Match object; span=(5, 6), match=' '>
the first space is found at: 5

In [ ]:
y = re.search("\d" , txt ,2) # no use of two bcs search func prints only the first occurance
print(y)
y = re.findall("\d" , txt ,2)
print(y)
y = re.findall("[0-5][0-9]" , txt)
print(y)

<re.Match object; span=(10, 11), match='9'>
['9', '4', '9']
['49']

In [ ]:
y = re.search("[app]",txt, 1)
print(txt)

There are 9 or 49 apples here

SPLIT FUNCTION

The split() function returns a list where the string has been split at each match

In [ ]:
text = "There are 9  or 49 apples here"
z = re.split("\s" ,text)
print(z)

['There', 'are', '9', '', 'or', '49', 'apples', 'here']

In [ ]:
z = re.split("\d" ,text)
print(z)

['There are ', '  or ', '', ' apples here']

In [ ]:
z = re.split("\d" ,text , 1)
print(z)

['There are ', '  or 49 apples here']

In [ ]:
z = re.split("\s" ,text ,2)
print(z)

['There', 'are', '9  or 49 apples here']

In [ ]:
z = re.split("\s" ,text, 1)
print(z)

['There', 'are 9  or 49 apples here']

SUB FUNCTION

The sub() function replaces the matches with the text of your choice:

In [ ]:
text = "There are 9 or 49 apples here"
w = re.sub("\s","%", text)
print(w)

There%are%9%or%49%apples%here

In [ ]:
text = "There are 9 or 49 apples here"
w = re.sub("\s","%", text ,2)
print(w)

There%are%9 or 49 apples here

In [ ]:
text = "There are 9 or 49 apples here"
w = re.sub("\d","%", text)
print(w)

There are % or %% apples here

In [ ]:
text = "There are 9 or 49 apples here"
w = re.sub("\d","%", text ,1)
print(w)

There are % or 49 apples here

In [ ]:
text = "There are 9 or 49 apples here"
w = re.sub("a","%", text)
print(w)

There %re 9 or 49 %pples here

MATCH OBJECT

A Match Object is an object containing information about the search and the result.

Note: If there is no match, the value None will be returned, instead of the Match Object.

In [ ]:
text = "There are 9 or 49 apples here"
v = # ask mam

TO CHECK IF THE PASSWORD IS STRONG OR NOT

In [ ]:
import re
def password(arg):
  b = 0
  for s in arg:
    b +=1
  if b >= 8:
   x= re.findall("[A-Z]" , arg)
   if x:
     u = re.findall("\s" , arg)
     if u:
       y = re.findall("[!,@,#,$,%,^,&,*,(,)]", arg)
       if y:
         z =re.findall("\d",arg)
         return True
       else:
         return False
     else:
       return False
   else:
     return False
  else:
    return False


print("Make sure your password contains upper case , space, undersscore, numbers and atleast 8 characters")
n = input("Enter the password: ")
a = password(n)
if a:
  print("You entered a strong password")
else:
  print("You entered a weak password")

Make sure your password contains upper case , space, undersscore, numbers and atleast 8 characters
Enter the password: Alina@123 4
You entered a strong password