<a href="https://colab.research.google.com/github/AlinaMidhath/PYTHON-DA-ML/blob/main/alina_day7(i).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PANDAS

series is like a column in a table

In [ ]:
import pandas as pd
arr = [1, 2, 3, 4]
myseries = pd.Series(arr)
print(arr)
print(myseries)

[1, 2, 3, 4]
0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
arr = [1, 2, 3, 4]
myseries = pd.Series(arr , index=['a','b','c','d'])

print(myseries)

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
# arr = [1, 2, 3, 4]
# myseries = pd.Series(arr)
# myseries= myseries.reindex(['w','x','y','z'])
# myseries

w   NaN
x   NaN
y   NaN
z   NaN
dtype: float64

In [ ]:
calories={
    "day1":456,
    "day2":980,
    "day3":1023
}

myseries=pd.Series(calories)
print(myseries)

day1     456
day2     980
day3    1023
dtype: int64

In [ ]:
calories={
    "day1":456,
    "day2":980,
    "day3":1023
}

myseries=pd.Series(calories, index=["day1","day3"])
print(myseries)
print(myseries['day1'])

day1     456
day3    1023
dtype: int64
456

series is like a col of a table and a data framse is like a complete table

In [ ]:
calories={
    "day1":[456,569,652,789],
    "day2":[1456,5220,6524,789],
    "day3":[4256,5692,652,7892]
}
myseries=pd.Series(calories)
print(myseries)
df = pd.DataFrame(calories)
print(df)

day1       [456, 569, 652, 789]
day2    [1456, 5220, 6524, 789]
day3    [4256, 5692, 652, 7892]
dtype: object
   day1  day2  day3
0   456  1456  4256
1   569  5220  5692
2   652  6524   652
3   789   789  7892

In [ ]:
import numpy as np

data1 = np.random.randint(1,10,5)
data2 = np.random.randint(1,10,5)

data1 = pd.Series(data1)
data2 = pd.Series(data2)
data1,data2

(0    7
 1    4
 2    2
 3    1
 4    9
 dtype: int64,
 0    5
 1    8
 2    4
 3    9
 4    6
 dtype: int64)

In [ ]:
data1.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
data2 = data2.reindex(data1.index)
data2

0    5
1    8
2    4
3    9
4    6
dtype: int64

In [ ]:
data2[2]

4

In [ ]:
data1[4]

9

In [ ]:
data1= data1.append(pd.Series([8,9,10]))
data1

<ipython-input-23-3eee1f8b193c>:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data1= data1.append(pd.Series([8,9,10]))

0     7
1     4
2     2
3     1
4     9
0     8
1     9
2    10
0     8
1     9
2    10
dtype: int64

In [ ]:
a = pd.Series([8,9,10])
data3 = pd.concat([data1,a])
data3

0     7
1     4
2     2
3     1
4     9
0     8
1     9
2    10
0     8
1     9
2    10
0     8
1     9
2    10
dtype: int64

In [ ]:
a = pd.Series([11,12,13])
data3 = pd.concat([data1,a])
data3

0     7
1     4
2     2
3     1
4     9
0     8
1     9
2    10
0     8
1     9
2    10
0    11
1    12
2    13
dtype: int64

In [ ]:
data3[1]

1     4
1     9
1     9
1    12
dtype: int64

In [ ]:
a = pd.Series([11,12,13])
data3 = pd.concat([data1,a]).reset_index(drop=True)
data3

0      7
1      4
2      2
3      1
4      9
5      8
6      9
7     10
8      8
9      9
10    10
11    11
12    12
13    13
dtype: int64

In [ ]:
data3[1]

4

Querring a Series

In [ ]:
student_classes={
    'Alice': 'Physics',
    'Jack':'Math',
    'Molly':'Chem',
    'Sam':'History'
}
print(student_classes)
s = pd.Series(student_classes)
print(s)

{'Alice': 'Physics', 'Jack': 'Math', 'Molly': 'Chem', 'Sam': 'History'}
Alice    Physics
Jack        Math
Molly       Chem
Sam      History
dtype: object

In [ ]:
s.iloc[3]

'History'

In [ ]:
s.loc['Alice']

'Physics'

In [ ]:
s.iloc[0]

'Physics'

In [ ]:
s[0]

'Physics'

DATA FRAMES


axis 0-rows


axis 1- columns

In [ ]:
import pandas as pd

df= pd.DataFrame({'Names':['stud1','stud2','stud3'],'Scores':[12,13,14]})
df

   Names  Scores
0  stud1      12
1  stud2      13
2  stud3      14

In [ ]:
df.shape

(3, 2)

In [ ]:
row , col = df.shape
print(row)
print(col)

3
2

In [ ]:
df = pd.DataFrame([{'Names':'stud1' ,'Scores':11},
                   {'Names':'stud2' ,'Scores':12},
                   {'Names':'stud3' ,'Scores':13}])
df

   Names  Scores
0  stud1      11
1  stud2      12
2  stud3      13

In [ ]:
data = {'one': data3 , 'two': data2}
df1 = pd.DataFrame(data)
df1

    one  two
0     7  5.0
1     4  8.0
2     2  4.0
3     1  9.0
4     9  6.0
5     8  NaN
6     9  NaN
7    10  NaN
8     8  NaN
9     9  NaN
10   10  NaN
11   11  NaN
12   12  NaN
13   13  NaN

In [ ]:
df1[:5]

   one  two
0    7  5.0
1    4  8.0
2    2  4.0
3    1  9.0
4    9  6.0

In [ ]:
df1['one'][:3]

0    7
1    4
2    2
Name: one, dtype: int64

In [ ]:
df1.head()

   one  two
0    7  5.0
1    4  8.0
2    2  4.0
3    1  9.0
4    9  6.0

In [ ]:
df1.head(2)

   one  two
0    7  5.0
1    4  8.0

In [ ]:
df1.tail()

    one  two
9     9  NaN
10   10  NaN
11   11  NaN
12   12  NaN
13   13  NaN

In [ ]:
df1.tail(2)

    one  two
12   12  NaN
13   13  NaN

In [ ]:
df1.columns

Index(['one', 'two'], dtype='object')

In [ ]:
df1['three']=0
df1

    one  two  three
0     7  5.0      0
1     4  8.0      0
2     2  4.0      0
3     1  9.0      0
4     9  6.0      0
5     8  NaN      0
6     9  NaN      0
7    10  NaN      0
8     8  NaN      0
9     9  NaN      0
10   10  NaN      0
11   11  NaN      0
12   12  NaN      0
13   13  NaN      0

In [ ]:
df1['four'] = df1['one']* df1['two']
df1

    one  two  three  four
0     7  5.0      0  35.0
1     4  8.0      0  32.0
2     2  4.0      0   8.0
3     1  9.0      0   9.0
4     9  6.0      0  54.0
5     8  NaN      0   NaN
6     9  NaN      0   NaN
7    10  NaN      0   NaN
8     8  NaN      0   NaN
9     9  NaN      0   NaN
10   10  NaN      0   NaN
11   11  NaN      0   NaN
12   12  NaN      0   NaN
13   13  NaN      0   NaN

In [ ]:
df1.mean()

one       8.071429
two       6.400000
three     0.000000
four     27.600000
dtype: float64

In [ ]:
df1.median()

one       9.0
two       6.0
three     0.0
four     32.0
dtype: float64

In [ ]:
df1.mode()

   one  two  three  four
0  9.0  4.0    0.0   8.0
1  NaN  5.0    NaN   9.0
2  NaN  6.0    NaN  32.0
3  NaN  8.0    NaN  35.0
4  NaN  9.0    NaN  54.0

In [ ]:
df1.min()

one      1.0
two      4.0
three    0.0
four     8.0
dtype: float64

In [ ]:
df1['one'].min()

1

In [ ]:
df1.max()

one      13.0
two       9.0
three     0.0
four     54.0
dtype: float64

In [ ]:
#create a col five where in you store the half of values of col1
df1['five'] = df1['one']*0.5
df1

    one  two  three  four  five
0     7  5.0      0  35.0   3.5
1     4  8.0      0  32.0   2.0
2     2  4.0      0   8.0   1.0
3     1  9.0      0   9.0   0.5
4     9  6.0      0  54.0   4.5
5     8  NaN      0   NaN   4.0
6     9  NaN      0   NaN   4.5
7    10  NaN      0   NaN   5.0
8     8  NaN      0   NaN   4.0
9     9  NaN      0   NaN   4.5
10   10  NaN      0   NaN   5.0
11   11  NaN      0   NaN   5.5
12   12  NaN      0   NaN   6.0
13   13  NaN      0   NaN   6.5

In [ ]:
#manipulate the df1 and reduce each value by half
def half(a):
  return a*0.5

In [ ]:
df1 = half(df1)
df1

    one  two  three  four  five
0   3.5  2.5    0.0  17.5  1.75
1   2.0  4.0    0.0  16.0  1.00
2   1.0  2.0    0.0   4.0  0.50
3   0.5  4.5    0.0   4.5  0.25
4   4.5  3.0    0.0  27.0  2.25
5   4.0  NaN    0.0   NaN  2.00
6   4.5  NaN    0.0   NaN  2.25
7   5.0  NaN    0.0   NaN  2.50
8   4.0  NaN    0.0   NaN  2.00
9   4.5  NaN    0.0   NaN  2.25
10  5.0  NaN    0.0   NaN  2.50
11  5.5  NaN    0.0   NaN  2.75
12  6.0  NaN    0.0   NaN  3.00
13  6.5  NaN    0.0   NaN  3.25