<a href="https://colab.research.google.com/github/AlinaMidhath/PYTHON-DA-ML/blob/main/alina_day8(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = {'capitals' : ['PANAJI', 'CHANDIGARH', 'PATNA', 'AGARTALA'],
        'population':[1347668, 21144554, 82998509, 3199203],
        'States' : ['GOA', 'HARYANA', 'BIHAR',  'TRIPURA'],
        'Visitors' : [300, 4000, 50, 80000]
        }
d = pd.DataFrame(data)

In [ ]:
d

     capitals  population   States  Visitors
0      PANAJI     1347668      GOA       300
1  CHANDIGARH    21144554  HARYANA      4000
2       PATNA    82998509    BIHAR        50
3    AGARTALA     3199203  TRIPURA     80000

In [ ]:
d['Visitors'].sum()

84350

In [ ]:
d['Visitors'][2]=5000
d

<ipython-input-10-c52022e60dfa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['Visitors'][2]=5000

     capitals  population   States  Visitors
0      PANAJI     1347668      GOA       300
1  CHANDIGARH    21144554  HARYANA      4000
2       PATNA    82998509    BIHAR      5000
3    AGARTALA     3199203  TRIPURA     80000

In [ ]:
import numpy as np

In [ ]:
np.nan

nan

In [ ]:
a = pd.Series(["Tesla", "Tata", np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,"Maruti","Audi"])
a

0     Tesla
1      Tata
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8    Maruti
9      Audi
dtype: object

In [ ]:
a.isna()

0    False
1    False
2     True
3     True
4     True
5     True
6     True
7     True
8    False
9    False
dtype: bool

In [ ]:
a.isnull()
a.isnull().sum()

6

In [ ]:
a

0     Tesla
1      Tata
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8    Maruti
9      Audi
dtype: object

In [ ]:
b = a
b

0     Tesla
1      Tata
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8    Maruti
9      Audi
dtype: object

In [ ]:
# b.dropna(inplace = True)
# b
b.fillna(999)

0     Tesla
1      Tata
2       999
3       999
4       999
5       999
6       999
7       999
8    Maruti
9      Audi
dtype: object

In [ ]:
b[b.duplicated()]

3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
dtype: object

In [ ]:
b.unique()

array(['Tesla', 'Tata', nan, 'Maruti', 'Audi'], dtype=object)

In [ ]:
b.replace(np.NaN, 100, inplace=True)
b

0     Tesla
1      Tata
2       100
3       100
4       100
5       100
6       100
7       100
8    Maruti
9      Audi
dtype: object

In [ ]:
b = a[a.notnull()]
b

0     Tesla
1      Tata
8    Maruti
9      Audi
dtype: object

In [ ]:
import pandas as pd
import numpy as np
exam_data ={'name':['Anastasia', 'Dima','Katherine','James','Emily','Michel','Mathew','Laura','Kevin','Jonas'],
            'score':[12.5, 9.0,16.5, np.nan, 9.0, 20.0, 14.5, np.nan, 8.0, 19.0],
            'attempts':[1,3,2,3,2,3,1,1,2,1],
            'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']}
labels=['a','b','c','d','e','f','g','h','i']
ed = pd.DataFrame(exam_data)
ed

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5     Michel   20.0         3     yes
6     Mathew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

In [ ]:
#print first three rows
x = ed.head(3)
x

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes

In [ ]:
#print only the name and score col
a = ed[['name','score']]
a

        name  score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.5
3      James    NaN
4      Emily    9.0
5     Michel   20.0
6     Mathew   14.5
7      Laura    NaN
8      Kevin    8.0
9      Jonas   19.0

In [ ]:
#to print the no of rows and cols
row , col = ed.shape
print('the no of rows are: ',row)
print('the no of cols are: ',col)

the no of rows are:  10
the no of cols are:  4

In [ ]:
a =pd.DataFrame( ed['attempts']>2 )
a

   attempts
0     False
1      True
2     False
3      True
4     False
5      True
6     False
7     False
8     False
9     False

In [ ]:
d={'col1':[1,2,3],
   'col2':[4,5,6],
   'col3':[7,8,9]}