<a href="https://colab.research.google.com/github/AlinaMidhath/PYTHON-DA-ML/blob/main/alina_day7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DAY 7 practice

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = {'Name':['Maheen','Alina','Anshara','Nisma'],
        'age' :[22,20,19,16]}
df = pd.DataFrame(data)
print(df)

      Name  age
0   Maheen   22
1    Alina   20
2  Anshara   19
3    Nisma   16

In [ ]:
print(df.loc[0])

Name    Maheen
age         22
Name: 0, dtype: object

In [ ]:
print(df.loc[[0,1]])

     Name  age
0  Maheen   22
1   Alina   20

In [ ]:
df = pd.DataFrame(data , index=['sis1','sis2','sis3','sis4'])
df

         Name  age
sis1   Maheen   22
sis2    Alina   20
sis3  Anshara   19
sis4    Nisma   16

In [ ]:
print(df.loc['sis2'])

Name    Alina
age        20
Name: sis2, dtype: object

In [ ]:
df['course']=['pharmd','engg','inter','inter']
df

         Name  age  course
sis1   Maheen   22  pharmd
sis2    Alina   20    engg
sis3  Anshara   19   inter
sis4    Nisma   16   inter

In [ ]:
print(df.iloc[:])

         Name  age  course
sis1   Maheen   22  pharmd
sis2    Alina   20    engg
sis3  Anshara   19   inter
sis4    Nisma   16   inter

In [ ]:
df.shape

(4, 3)

In [ ]:
df.columns

Index(['Name', 'age', 'course'], dtype='object')

In [ ]:
df['Name'][ : 2]

sis1    Maheen
sis2     Alina
Name: Name, dtype: object

In [ ]:
df.mean()

<ipython-input-21-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

age    19.25
dtype: float64

In [ ]:
df.median()

<ipython-input-22-6d467abf240d>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

age    19.5
dtype: float64

In [ ]:
df.mode()

      Name  age course
0    Alina   16  inter
1  Anshara   19    NaN
2   Maheen   20    NaN
3    Nisma   22    NaN

In [ ]:
df['age'].min()

16

In [ ]:
df.min()

Name      Alina
age          16
course     engg
dtype: object

In [ ]:
df.max()

Name       Nisma
age           22
course    pharmd
dtype: object

In [ ]:
def half(a):
  return a*0.5

In [ ]:
df1 = half(df['age'])
df1

sis1    11.0
sis2    10.0
sis3     9.5
sis4     8.0
Name: age, dtype: float64