<a href="https://colab.research.google.com/github/AlinaMidhath/PYTHON-DA-ML/blob/main/alina_day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LISTS**

In [ ]:
mylist = [2, 11, 15.0, "alina", True, False, ]
print(mylist)#accessing entire list
print(mylist[3])#accessing index at a particular index
print(mylist[-1])#accessing the last element
print(mylist[-2])

[2, 11, 15.0, 'alina', True, False]
alina
False
True

In [ ]:
#SLICING
print(mylist[2:5])#will start at index 2 (included) and end at index 5 (not included).
print(mylist[2: ])#to print rest of the elements in the list from element at index 2
print(mylist[ :2])#to print element up till element at index 1(including 1th element)
print(mylist[ : ])#to print the entire list
print(mylist[-4:-2])#using negative indeces
if "alina" in mylist:  #Check if Item Exists   To determine if a specified item is present in a list use the in keyword
  print("yes")

[15.0, 'alina', True]
[15.0, 'alina', True, False]
[2, 11]
[2, 11, 15.0, 'alina', True, False]
[15.0, 'alina']
yes

In [ ]:
#ADDING ELEMENTS TO THE LIST
mylist = [2, 11, 15.0, "alinak", True, False, ]
mylist[1] = "nov"
print(mylist)
mylist[3:4] = "syeda","alinak"
print(mylist)
mylist[3:4] = "syeda","alina","midhath"#The length of the list will change when the number of items inserted does not match the number of items replaced
print(mylist)
mylist.insert(1, 11)#To insert a new list item, without replacing any of the existing values, we can use the insert() method.
print(mylist)
mylist.append(4)#To add an item to the end of the list, use the append() method
print(mylist)

[2, 'nov', 15.0, 'alinak', True, False]
[2, 'nov', 15.0, 'syeda', 'alinak', True, False]
[2, 'nov', 15.0, 'syeda', 'alina', 'midhath', 'alinak', True, False]
[2, 11, 'nov', 15.0, 'syeda', 'alina', 'midhath', 'alinak', True, False]
[2, 11, 'nov', 15.0, 'syeda', 'alina', 'midhath', 'alinak', True, False, 4]

In [ ]:
#REMOVING ELEMENTS
mylist.remove("alinak")
print(mylist)
mylist.pop(1)#The pop() method removes the specified index.
print(mylist)
mylist.pop()#If you do not specify the index, the pop() method removes the last item
print(mylist)
del mylist[0]#The del keyword also removes the specified index
print(mylist)
a = [1, 2, 3]
b = [4, 5, 6]
a.clear()#The clear() method empties the list.
print(a)
del(b)#The del keyword can delete the list completely.

[2, 11, 'nov', 15.0, 'syeda', 'alina', 'midhath', True, False, 4]
[2, 'nov', 15.0, 'syeda', 'alina', 'midhath', True, False, 4]
[2, 'nov', 15.0, 'syeda', 'alina', 'midhath', True, False]
['nov', 15.0, 'syeda', 'alina', 'midhath', True, False]
[]

In [ ]:
#loops
for x in mylist:
  print(x)
for i in range(len(mylist)):
  print(mylist[i])

nov
15.0
syeda
alina
midhath
True
False
nov
15.0
syeda
alina
midhath
True
False

In [ ]:
#sorting
#mylist.sort()not supported between instances of 'float' and 'str'
abc = [2,5,4, 8,6, 9]
abc.sort()#ascending order
print(abc)
d =["mango", "apple", "orange", "watermelon", "banana"]
d.sort()
print(d)
abc.sort(reverse=True)#descending order
print(abc)
d.sort(reverse = True)
print(d)

[2, 4, 5, 6, 8, 9]
['apple', 'banana', 'mango', 'orange', 'watermelon']
[9, 8, 6, 5, 4, 2]
['watermelon', 'orange', 'mango', 'banana', 'apple']

In [ ]:
#joining lists
a = [1, 2, 3]
b = [4, 5, 6]
a = a+b
print(a)
a = [1, 2, 3]
b = [4, 5, 6]
a.append(b)
print(a)
a = [1, 2, 3]
b = [4, 5, 6]
for x in b:
  a.append(x)
print(a)
a = [1, 2, 3]
b = [4, 5, 6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, [4, 5, 6]]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [ ]:
#copy
newlist = mylist.copy()
print(newlist)
alist = list(newlist)
print(alist)

['nov', 15.0, 'syeda', 'alina', 'midhath', True, False]
['nov', 15.0, 'syeda', 'alina', 'midhath', True, False]

**Tuples**

In [ ]:
mytuple = tuple(mylist)#type casting
print(mytuple)
#ACCESSING TUPLE
print(mytuple[1])
print(mytuple[-1])
print(mytuple[2:5])
print(mytuple[2: ])
print(mytuple[ :5])
print(mytuple[-4:-2])
print(mytuple[ : ])

('nov', 15.0, 'syeda', 'alina', 'midhath', True, False)
15.0
False
('syeda', 'alina', 'midhath')
('syeda', 'alina', 'midhath', True, False)
('nov', 15.0, 'syeda', 'alina', 'midhath')
('alina', 'midhath')
('nov', 15.0, 'syeda', 'alina', 'midhath', True, False)

In [ ]:
#UNPACKING
newtuple = ("mango", "apple", "orange", "watermelon", "banana")
(black , blue, pink, red, purple) = newtuple
print(red)
print(pink)
print(blue)
print(purple)
print(black)
print()
(black , blue, *pink) = newtuple
print(black)
print(blue)
print(pink)
print()
(black , *blue, pink) = newtuple
print(black)
print(blue)
print(pink)

watermelon
orange
apple
banana
mango

mango
apple
['orange', 'watermelon', 'banana']

mango
['apple', 'orange', 'watermelon']
banana

In [ ]:
#LOOPS
for i in newtuple:
  print(i)
print()
for i in range(len(newtuple)):
  print(newtuple[i])

mango
apple
orange
watermelon
banana

mango
apple
orange
watermelon
banana

In [ ]:
#JOINING
d = (1, 2, 3, 4)
e = (5, 6, 7, 8)
f = d+e
print(f)
f= f*2
print(f)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)

**STRINGS**

In [ ]:
a = "hello world"
print(a)
print()
print(a[1])
print(a[-1])
for x in a:
  print(x)
print()
print(len(a))
print("hello" in a) #To check if a certain phrase or character is present in a string, we can use the keyword in
print("wor" in a)
print("cost" in a)
if "hell" in a:
  print("yes")
print("cost " not in a)
if "aaa" not in a:
  print("yes")

hello world

e
h
e
l
l
o

w
o
r
l
d

11
True
True
False
yes
True
yes

In [ ]:
#slicing
print(a[2:5])
print(a[2: ])
print(a[ :5])
print(a[-6:-2])
print(a[ : ])

llo
llo world
hello
 wor
hello world

In [ ]:
#modify
print(a.upper())
print(a.lower())
print(a.strip())#removes space from begining or end

HELLO WORLD
hello world
hello world

In [ ]:
#concatinate
a = "hello"
b = "world"
c= a+b
print (c)
print(a + " " + b)
#it is not possible to concatinate string but with int we can do it using format
age = 20
name = "Syeda Alina {}"
print(name.format(age))# can be done for multiple values as well

helloworld
hello world
Syeda Alina 20